<header>
  <div class = "left-side-header">
    <a href="{{url_for('mainCatalogMenu')}}">
      <h1 class = "left-side-label">Catalog App</h1>
    </a>
  </div>
  {% if 'username' not in session %}
  <div class = "right-side-header">
    <a href = "{{url_for('showLogin')}}">
      <!-- url_for is neccessary for image to persist on multiple routes -->
      <img src = "{{url_for('static', filename='loginButton.svg') }}" alt = "Login" class = "right-side-button">
    </a>
  </div>
  {% else %}
  <div class = "right-side-header">
    <a href = "{{url_for('gdisconnect')}}">
      <img src = "{{url_for('static', filename = 'logoutButton.svg') }}" alt = "Logout" class = "right-side-button">
    </a>
  </div>
  {% endif %}
</header>
