<header>
  <div class = "left-side-header">
    <a href="{{url_for('mainCatalogMenu')}}"><label>Catalog App</label></a>
  </div>

      {% if 'username' not in session %}
    <div class = "right-side-header">
    <a href = "{{url_for('showLogin')}}">
      <img src = 'static/loginButton.svg' alt = "Login">
    </a>
    </div>
    {% else %}
    <div class = "right-side-header">
    <a href = "{{url_for('gdisconnect')}}">
      <img src = 'static/logoutButton.svg' alt = "Logout">
    </a>
    </div>
    {% endif %}
  </div>

</header>
