{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <div class = "alter-category-item-full-container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class = "flash-message-container">
  <p class = flashes>
    {% for message in messages %}
    <p>{{ message }} </p>
    {% endfor %}
  </p>
  </div>
  {% endif %}
  {% endwith %}
<div class = "alter-category-item-container">
<form class = "alter-category-item-container" action = "{{url_for('newCategoryItem')}}" method = "post">
  <input type = "text" maxlength="50" name ="name" placeholder = "Item Name">

  <textarea  maxLength = "500" rows = "6" name ="description" placeholder = "Item Description"></textarea>

  <input type = "text" maxlength="50" name = "category" placeholder = "Category Name (capitalization matters)">
  <input type = "submit" id = "submit" value = "Submit">
</form>
</div>
<div>
</main>

{% endblock %}
