{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <h1> {{category.name}} Items ({{numofitems}} {% if numofitems > 1 %} items) {% else %} item) {% endif %}</h1>

  <a href = "{{url_for('newCategoryItem')}}" method = 'POST'>Add Category Item</a>
  {% for item in items %}
  <a href = "{{url_for('showItemDescription', categoryname = category.name, item = item.name)}}">
  <h3> {{item.name}} </h3>
  </a>
  {% endfor %}

  <div class = "category-list">
  <h1> Categories </h1>
  {% for category in categories %}
  <a href = "{{url_for('showCategoryAndItems', categoryname = category.name)}}">
  <h3>{{category.name}}</h3>
  </a>
  {% endfor %}
  </div>
</main>
{% endblock %}
