* {
  box-sizing: border-box;
  font-family: "courier new";
/*  border: 1px solid red; */
}

body, html {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

body {
/*  background-color: yellow; */
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1vw;
  text-overflow: ellipsis;
}
/* Beginning of Header CSS */
header {
  display: flex;
  max-height: 10vh;
  min-height: 10vh;
  margin: 0;
  background-color: #0469F0;
}

  .left-side-header {
    margin-left: 10vw;
    font-size: 8vh;
  }

    .left-side-label {
      color: #fff;
    }

  .right-side-header {
    margin-left: auto;
    margin-right: 10vw;
    font-size: 5vh;
  }

    .right-side-button {
      max-height: 10vh;
      min-height: 9vh;
      min-width: 9vw;
      max-width: 10vw;
    }

/* Beginning of Main CSS */

main {
  display: flex;
  margin-left: 10vw;
  margin-right: 5vw;
  margin-top: 5vh;
  background-color: yellow;
  border: 1px solid red;
  min-height: 80vh;
  max-height: 80vh;
  min-width:85vw;
  max-width: 85vw;
}

  .category-list {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
    .category-list-header {
      font-size: 8vh;
      font-weight: bold;
      color: #808080;
    }
    .category-name {
      font-size: 6vh;
    }

  .latest-item-list {
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
  }

    .latest-item-info {
      display: flex;
    }
    .latest-item-list-header {
      font-size: 8vh;
      font-weight: bold;
      color: #808080;
    }

    .latest-item-name {
      font-size: 6vh;
    }

    .latest-item-category {
      color: #808080;
      font-size: 6vh;
    }
